.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0;
  height: calc(100vh - 5rem);
  
  display: list-item;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  text-decoration: none;

  font-weight: 400;
  font-size: 18px;

  strong {
    font-weight: 700;
    font-size: 28px;
  }


  p {
    margin-top: 0.5rem;
    line-height: 1.625rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }

  span {
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding-right: 2rem;
    
  }
  
}



.loadMore {
  position: relative;
  color: var(--highlight);
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;

  margin-top: 3rem;
  
}